@import "src/styles/vars";
.status{
  font-size: 14px;
  line-height: 16px;
  position: relative;
  color: #bfbfbf;
  mix-blend-mode: normal;
  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #d3d3d3;
    position: absolute;
    top: 47%;
    left: -8px;
    border-radius: 50%;
  }
  &--online::before{

    background-color: $green;

  }
}
