@import "../../styles/vars";
.dialogs{
  max-width: fit-content;
  height: 592px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    visibility: hidden;
    transition: visibility .2s ease;
  }
  &::-webkit-scrollbar-thumb {
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    background-color: $blue;
    visibility: hidden;
    transition: visibility .2s ease;

  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $blue;
  }

  &::-webkit-scrollbar-track {
    border-width: 0;
    background: none;
    visibility: hidden;
    transition: visibility .2s ease;
  }
  &:hover{
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track{
      visibility: unset;
      transition: visibility .2s ease;
    }
  }
  &__item{
    $self: &;
    display: flex;
    transition: background .2s ease-in-out;
    cursor: pointer;
    padding: 13px;
    &:hover {
      background-color: #F3F7FF;
      transition: background .2s ease-in-out;
    }
    &-avatar {
      width: 40px;
      flex: 0 0 40px;
      height: 40px;
      margin-right: 10px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &--online{
      #{$self}-avatar{
        position: relative;
        &::before{
          content: "";
          background-color: $green;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          box-shadow: 0 0 0 3px #fff;
        }
      }
    }
    &-top{
      display: flex;
      position: relative;
      b{
        font-weight: 600;
        font-size: 16px;
        max-width:195px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span{
        margin-left: 87px;
        mix-blend-mode: normal;
        position: absolute;
        right: 0;
        z-index: 10;
        font-size: 12px;
        line-height: 14px;
        color: #202020;
        opacity: 0.4;
      }
    }
    &-bottom{
      display: flex;
      margin-top: 5px;
      justify-content: space-between;
      p{
        color: $black;
        opacity: 0.4;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 210px;
        overflow: hidden;
        margin-right: 10px;
      }
    }
    &-count{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F46B6B;
      letter-spacing: -.008rem;
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      width: 24px;
      height: 20px;
      border-radius: 50%;
      box-shadow: 0 0 0 3px #fff;
      &--large-number{
        width: 27px;
      }
    }
  }
}
